body {
    font-family: Arial, sans-serif;
}

#main {
    max-width: 800px;
    margin: 0 auto;
}

.tab-content {
    display: none;
    padding: 20px;
}

th {
    background-color: #f2f2f2;
}

/* Make every second row's background light grey */
tbody tr:nth-child(even) td {
   background-color: #fcfcfc;
}

.thin-column {
    width: 0; /* Force column width to be sized to the content */
    padding-right: 1em;
}

form {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

.table input[type=number] {
    width: 4em;
}