<!DOCTYPE html>
<html>
<head>
    <title>Swiss Tournament</title>
    <link rel="stylesheet" href="../static/swiss.css"></link>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>
<body>
	<div id="main">
	    <div id="tabs">
	        <button onclick="showTab('participants')">Participants</button>
	        <button onclick="showTab('matches')">Matches</button>
	        <button onclick="showTab('pairings')">Pairings</button>
	    </div>

	    <div id="participants" class="tab-content">
		    <h2>Participants</h2>
		    <form id="addParticipantForm">
		        <input type="text" id="participantName" placeholder="Participant Name" required>
		        <button type="submit">Add Participant</button>
		    </form>
		    <button id="recalculateScoresButton">Recalculate Scores</button><br/><br/>
		    <!-- <div id="participantsTable" style="width: calc(min(max(0.7vw, 1000px), 100%))"></div> -->
		    <div id="participantsTable" class="table"></div>
		</div>

		<div id="matches" class="tab-content">
		    <h2>Matches</h2>
		    <form id="addMatchForm">
		        <select id="participant1Dropdown"></select>
		        <input type="number" id="participant1Wins" placeholder="Participant 1 Wins" required>
		        <select id="participant2Dropdown"></select>
		        <input type="number" id="participant2Wins" placeholder="Participant 2 Wins" required>
		        <button type="submit">Add Match</button>
		    </form>
		    <button id="addPairingsButton">Insert Pairings</button><br/><br/>
		    <div id="matchesTable" class="table"></div>
		</div>

		<div id="pairings" class="tab-content">
		    <h2>Pairings</h2>
		    <button id="getPairingsButton">Get Pairings</button><br/><br/>
		    <div id="pairingsTable" class="table"></div>
		</div>
	</div>
    <script src="../static/swiss.js"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
</body>
</html>
